//variables
$bgc-blue: #465DEF;
$bgc-blue--faq: #4457F3;
$bgc-blue--hover: #5B6DF5;
$bgc-darkBlue: #1C2237;
$bgc-darkBlue--2: #212844;
$bgc-main: #EBEDED;
$bgc-grayLight--1: #F6F9FC;
$bgc-grayLight--2: #E6EBF1;


$text-white: #FFF;
$text-red: #FB726F;
$text-orange: #F8A86B;
$text-gray: #838EAB;

//mixins




html{
	font-size: 62.5%;
	font-family: acumin-pro, sans-serif;
}

body{
	margin: 0 auto;
	max-width: 1440px;
	background-color: $bgc-main;
}

li{
	list-style: none;

}

.btn{
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 5px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
	font-family: inherit;

	&--blue{
		background-color: $bgc-blue;
		
	}
}

.time{
	&__caption{

	}

	&__icon{

	}
}