/* background colors */
$bgc-blue: #465DEF;
$bgc-blue--faq: #4457F3;
$bgc-blue--hover: #5B6DF5;
$bgc-darkBlue: #1C2237;
$bgc-darkBlue--2: #212844;
$bgc-main: #F6F9FC;
$bgc-grayLight--1: #EBEDED;
$bgc-grayLight--2: #F6F8F9;
$bgc-dark: #A6ADB4;
$bgc-red: #FF4D4D;

/* border colors */
$focus: #72ACFF;
$invalid: #FF4D4D;

/* text colors */
$text-white: #FFF;
$text-red: #FB726F;
$text-orange: #F8A86B;
$text-gray: #838EAB;

/* media queries sizes */
$tab: 1200px;
$mob: 500px;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html{
	font-size: 62.5%;
	font-family: acumin-pro, sans-serif;
	background-color: #fff;

	@media screen and (max-width: $mob){
		font-size: 50%;
	}
}

body{
	margin: 0 auto;

	max-width: 1440px;
	background-color: $bgc-main;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

li{
	list-style: none;

}

.btn{
	padding: 1rem 2rem;
	border: none;
	border-radius: 5px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
	font-family: inherit;
	transition: all .2s;

	&--red{
		background-color: $bgc-red;
		
	}

	&:active{
		transform: translateY(20%);
	}


}

.mb{
	margin-bottom: 4rem;

	&--small{
		margin-bottom: 2rem;
	}

	&--smallest{
		margin-bottom: .5rem;
	}
}

.mt{
	margin-top: 5rem;
}

.time{
	&__caption{
		font-size: 1.3rem;
	}

	&__icon{

	}
}

.after{

	&::after{
		content: '';
		display: block;
		width: 100%;
		height: 3px;
		background-color: $bgc-main;
		transform: translateY(2rem);
	}
}
