.footer{
	background-color: $bgc-dark;
	display: grid;
	grid-template-columns: repeat(4, min-content) 1fr min-content;
	grid-gap: 4rem;
	justify-items: center;
	align-content: end;
	align-items: start;
	padding: 5rem 14rem;

	@media screen and (max-width: $tab){
		grid-template-columns: 50% repeat(3, min-content);
		padding: 5rem 9rem;
		grid-gap: 2rem;
	}

	@media screen and (max-width: $mob){
		padding: 5rem 0;
		display: none;
	}

	&__logo{
		align-self: start;
		fill: white;
		
		@media screen and (max-width: $mob){
			display: none;
		}
	
	}

	&__list{
		margin: 0;

		@media screen and (max-width: $mob){

			&:nth-child(2){
				display: none;
			}

			&:not(:nth-child(2)){
				grid-row:  3 / 4;
			}
		}

		&-item{

			a{
				text-decoration: none;
				color: inherit;
				font-size: 1.5rem;
				font-weight: 700;

				@media screen and (max-width: $mob){
					display: grid;
					grid-template-columns: 1fr 1fr;
				}
			}

			&:last-child{
				display: none;

				@media screen and (max-width: $mob){
					display: block;
				}
			}
		}
	}

	&__input{
		padding: 1rem;
		border: solid 1px $bgc-grayLight--2;
		border-radius: 2px;
		background-color: $bgc-dark;
		width: 260px;
		background-image: url('../img/send.svg');
		background-repeat: no-repeat;
		background-position: 95% 50%;
		color: $bgc-grayLight--2;

		&:active,
		&:focus{
			border: solid 1px $focus;
		}

		&:invalid{
			border: solid 1px $invalid;
		}
	
	}

	&__form{

		@media screen and (max-width: $mob){
			display: none;
		}
	}

	&__buttons{
		align-self: start;
		display: grid;
		grid-template-columns: repeat(4, min-content);
		grid-gap: 2rem;
		margin: 0;

		@media screen and (max-width: $tab){
			
		}

		@media screen and (max-width: $mob){
			grid-row:  4 / 5;
		}
	}

	&__button{
		height: 2rem;
		width: 2rem;
	}

	&__mobile{
		@media screen and (max-width: $mob){
			display: grid;
			position: absolute;
			top: 40rem;
			left: 0;
			width: 75vw;
  			z-index: 1;
		}
	}
}