.home{
	display: grid;
	grid-template-columns: 60% 40%;
	background-color: #fff;

	@media screen and (max-width: $tab){
		grid-template-columns: 1fr;
	}
}

.hero{
	background-image: url('../img/hero.jpg');
	background-size: cover;
	display: grid;
	align-content: center;
	padding: 15rem;

	.btn{
		justify-self: start;
	}
}