.navbar{
	display: flex;
	justify-content: space-between;
	padding: 0.5rem 2rem;


	&__list{
		display: flex;
		align-items: center;
	}

	&__item{
		font-size: 1.1rem;
		padding: 0 1.5rem;

		&:hover{
			font-weight: 700;
		}
	}

	&__portrait{
		padding-left: 2.5rem;
	}
}