.navbar{
	display: flex;
	justify-content: space-between;
	padding: 0.5rem 2rem;
	position: relative;
	min-height: 40px;


	&__list{
		display: flex;
		align-items: center;
	}

	&__item{
		font-size: 1.1rem;
		padding: 0 1.5rem;
		font-weight: 700;

		&:hover{
			font-weight: 700;
		}

		&:first-child{
			position: relative;
		}

		@media screen and (max-width: $mob){
		
			&:not(:last-child){
				display: none;
			}
		}		
	}

	&__portrait{
		padding-left: 2.5rem;

		@media screen and (max-width: $mob){
			height: 2rem;
			width: 2rem;
		}
	}

	&__dropdown{
		display: none;
  		position: absolute;
  		background-color: $bgc-main;
  		z-index: 1;
  		border-radius: 5px;
  		text-align: left;
  		padding: 0;
  		width: 18rem;

  		&-item{
  			padding: 1rem 2rem;
  			font-weight: 400;

  			&:first-child{
  				padding-top: 3.5rem;
  			}

  			&:hover{
  				font-weight:700;
  			}
  		}
	}

	&__menu{
		display: none;

		@media screen and (max-width: $mob){
			display: block;
		}
	}

	&__icon{
		display: none;

		@media screen and (max-width: $mob){
			display: block;
			margin-right: 1rem;
			height: 2rem;
			width: 2rem;

		}
	}

	&__item:nth-child(2):hover .navbar__dropdown{
			display: block;

			@media screen and (max-width: $mob){
				display: none;
			}
		} 

	.visible ~ .navbar__list,
	.visible ~ .navbar__logo{
		@media screen and (max-width: $mob){
				position: absolute;
				top: 4.8rem;
				left: 0;
  				background-color: $bgc-main;
		}
	}

	.visible ~ .navbar__logo{
		@media screen and (max-width: $mob){
				padding: 4rem;
  				z-index: 2;
		}
	}

	.visible ~ .navbar__list{
		@media screen and (max-width: $mob){
				width: 75vw;
  				z-index: 1;
  				text-align: left;
  				padding: 10rem 0;
				display: grid;
				grid-gap: 2rem;

		}
	}

	.visible ~ .navbar__list  .navbar__item{
		@media screen and (max-width: $mob){
				display: grid;
				grid-template-columns: min-content min-content;	
				grid-gap: 1rem;	
				align-items: center;
				padding: 0 4rem;	
		}
	}

}