.news{
	padding: 10rem;
	position: relative;

	.swiper-container {
    
    max-width: 100vw;
}

	@media screen and (max-width: $tab){

		.swiper-wrapper{
			display: grid;
			grid-template-columns: 1fr 1fr;
			padding: 8rem;
		}
		
	}

	@media screen and (max-width: $mob){
		grid-template-columns: 1fr;
		padding: 2rem;
	}
		
	&__note{
		

		@media screen and (max-width: $tab){
			grid-row: 2 / 3;
		}

		@media screen and (max-width: $mob){
			grid-row: auto;
		}
	}

	&__icon{
		width: 3rem;
		height: 3rem;
	}


}

.swiper-button{
	&-next,
	&-prev{
			display: inline-block;
			fill: black;
			top: 40%;
	}

	
}