.trending{
	padding: 0 14rem;

	@media screen and (max-width: $tab){
			padding: 0 8rem;
	}
	
	@media screen and (max-width: $mob){
			padding: 0 2rem;
		}
	
	&__container{
		display: grid;
		grid-template-columns: repeat(3,  360px);
		justify-content: space-between;
	}

	&__card{
		background-color: $bgc-grayLight--1;
	}

	&__note{
		padding: 4rem;
	}
}