.trending{
	padding: 0 14rem;
	
	&__container{
		display: grid;
		grid-template-columns: repeat(3,  360px);
		justify-content: space-between;
	}

	&__card{
		background-color: $bgc-grayLight--1;
	}

	&__note{
		padding: 4rem;
	}
}