.trending{
	padding: 0 14rem;
	position: relative;

	@media screen and (max-width: $tab){
			padding: 0 8rem;
	}
	
	@media screen and (max-width: $mob){
			padding: 0 2rem;
		}
	
	&__container{
		

	}

	&__swiper-buttons{
		position: absolute;
		width: 100px;
		height: 20px;
		top: 0rem;
		right: 10vw;

	}

	&__card{
		background-color: $bgc-grayLight--1;
	}

	&__note{
		padding: 4rem;
	}

	&__photo{
		width: 100%;
	}
}